# Python build artifacts
*.egg-info/
dist/
build/
*.egg

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
ENV/
.venv

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

.env
figures/
wandb

tutorials/data/working/

*.pt
*.png
*.npy
